.card {
  width: 380px;
  max-width: 90%;
  height: 240px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  transition: all linear 0.15s;
  flex-wrap: wrap;
  white-space: normal;
}

h3 {
  font-size: 1.3rem;
}

.collection-card {
  background-color: #ffffffc0;
  color: #6688ad;
}

.collection-card:hover {
  background-color: #ffffff;
  color: #000000;
}

.new-entry {
  margin: 5%;
  width: 400px;
  max-width: 90%;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all linear 0.15s;
}

.new-entry:hover {
  box-shadow: 0 0 20px #ffffff;
  transition: all linear 0.1s;
}

.new-card-input {
  margin-top: 5%;
  margin-left: 5%;
}

.front-input {
  height: 1.3rem;
  border-style: none;
  width: 95%;
  font-size: 1em;
}

.front-input:focus {
  outline: none;
}

.back-input {
  border-style: none;
  width: 95%;
  height: 7.5rem;
  font-size: 1em;
  resize: none;
}

.back-input:focus {
  outline: none;
}
