nav {
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: #6688addc;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  transition: all linear 0.2s;
}

.nav-link:hover {
  text-shadow: 0 0 10px #fff;
}
